.login-container {
    /* display: flex; */
    /* flex-direction: column;  */
    align-items: left; 
    justify-content: left; 
    height: 100vh;
    background-color: white;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column; 
    align-items: left;
    border: 1px solid white;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.login-form input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ecebeb;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(193, 192, 192);
    color: white;
    cursor: pointer;
}

.login-form label {
    margin-top: 10px;
    font-size: 14px;
} 
